{% extends 'sow/base.html'%}


{% block content%}

        <center><h1>DASHBOARD</h1></center>


        <div class="container ">
            <div class="row row-cols-2 ">
              
              
                <div class="col">
                <div class="card m-4" >
                    <div class="card-body">
                    <div id="chart1"></div>
                </div>
                </div>

              </div>
              
              
              <div class="col">

                <div class="card m-4" >
                    <div class="card-body">
                    <div id="chart2"></div>
                </div>
                </div>
                
                </div>
              
              
                <div class="col">

                    <div class="card m-4" >
                        <div class="card-body">
                        <div id="chart3"></div>
                    </div>
                    </div>

                </div>
              
              
                <div class="col">

                    <div class="card m-4" >
                        <div class="card-body">
                        <div id="chart4"></div>
                    </div>
                    </div>

                </div>
            </div>
          </div>






        
      
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript"> 
        
        var graph1= {{ b1 | safe}}
        Plotly.plot ("chart1",  graph1, {})

        var graph2= {{ p1 | safe}}
        Plotly.plot ("chart2",  graph2, {})

        var graph3= {{ c1 | safe}}
        Plotly.plot ("chart3",  graph3, {})

        var graph4= {{ p2 | safe}}
        Plotly.plot ("chart4",  graph4, {})


    </script>



    {% endblock %}